{% extends "base.html" %}
{% import "macro/page_macros.html" as page_macros %}
{% block title%}
    IP manager
{% endblock %}
{% block content_wrapper %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
	IP管理
        <small>IP manage</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url_for("cmdb.index") }}"><i class="fa fa-dashboard"></i>dashboard</a></li>
        <li class="active"><a href=#>IP管理</a></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
      <!--------------------------
        | Your Page Content Here |
        -------------------------->
	<div class="row">
	    <div class="col-xs-6 col-md-4">
	      <!-- small box -->
	      <div class="small-box bg-green">
		<div class="inner">
		  <h3>{{ data.network_count }}<sup style="font-size: 20px"></sup></h3>

		  <p>网络/vlan数</p>
		</div>
		<div class="icon">
		  <i class="ion ion-stats-bars"></i>
		</div>
		<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
	      </div>
	    </div>
	    <!-- ./col -->
	    <div class="col-xs-6 col-md-4">
	      <!-- small box -->
	      <div class="small-box bg-yellow">
		<div class="inner">
		  <h3>{{data.active_ip}}</h3>

		  <p>已使用IP总数</p>
		</div>
		<div class="icon">
		  <i class="ion ion-social-rss"></i>
		</div>
		<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
	      </div>
	    </div>
	    <!-- ./col -->
	    <div class="col-xs-6 col-md-4">
	      <!-- small box -->
	      <div class="small-box bg-red">
		<div class="inner">
		  <h3>{{ data.ip_count-data.active_ip}}</h3>

		  <p>未使用IP总数</p>
		</div>
		<div class="icon">
		  <i class="ion ion-pie-graph"></i>
		</div>
		<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
	      </div>
	    </div>
	    <!-- ./col -->
	</div>
    <!--edit button-->
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-xs-6 col-md-2">
	      <a class="btn btn-block btn-social btn-dropbox" data-toggle="modal" data-target="#AddNetModal">
	      <i class="fa fa-plus"></i> &nbsp;&nbsp;添加网络</span>
	      </a>
	    </div>
	    <div class="col-xs-6 col-md-2">
	      <a class="btn btn-block btn-social btn-foursquare">
	      <i class="fa fa-edit"></i> &nbsp;&nbsp;编辑网络
	      </a>
	    </div>
	    <div class="col-xs-6 col-md-2">
	      <a class="btn btn-block btn-social btn-bitbucket">
	      <i class="fa fa-bitbucket"></i> &nbsp;&nbsp;删除网络
	      </a>
	    </div>
	  </div>
	</div>
    <!--end button-->
	<!-- Modal -->
	<div class="modal fade" id="AddNetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">添加网络</h4>
	      </div>
	      <div class="modal-body">
		<!-- add net formi -->
		<form action="{{ url_for("ipmage.add_network") }}" method="post">
		    {{ add_NetworkForm.hidden_tag() }}
		    <div class="box-body">
		    <div class="form-group">
		    <label for="netname">名称</label>
		    {{ add_NetworkForm.netname(class="form-control",id="netname", placeholder="名称") }}
		    </div>
		    <div class="form-group">
		    <label for="netnetwork">网段</label>
		    {{ add_NetworkForm.network(class="form-control",id="netnetwork",placeholder="0.0.0.0/24") }}
		    </div>
		    <div class="form-group">
		    <label for="netvlan">vlan</label>
		    {{ add_NetworkForm.vlan(class="form-control",id="netvlan", placeholder="vlan标记") }}
		    </div>
		    <div class="form-group">
		    <label for="netdesc">描述</label>
		    {{ add_NetworkForm.desc(class="form-control",id="netdesc",placeholder="描述") }}
		    </div>
		    </div>
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		{{ add_NetworkForm.submit(class="btn btn-primary") }}
	      </div>
	    </form>
	    <!-- end form -->
	    </div>
	  </div>
	</div>
	<!-- end Modal -->
    <!-- table-->
    <div class="container-fluid">
	<div class="box">
	  <div class="box-header with-border">
	    <h3 class="box-title">网络列表</h3>
	  </div>
	  <!-- /.box-header -->
	  <div class="box-body" style="height:400px">
	    <table class="table table-hover table-bordered" >
	      <tbody><tr>
		<th>选择</th>
		<th>网络名</th>
		<th>vlan</th>
		<th>备注用途</th>
		<th>使用率</th>
		<th style="width: 80px">IP使用率</th>
	      </tr>
	      {% for network in data.networks %}
	      <tr>
		<td><input type="checkbox" id="network-{{ network.id }}"></td>
		<td>{{ loop.index }}.&nbsp;{{ network.netname }}&nbsp;/&nbsp;{{ network.network }}<a href="{{ url_for("ipmage.get_network",id=network.id,page=1) }}">>>详情页</a></td>
		<td>{{ network.vlan }}</td>
		<td>{{ network.desc }}</td>
		<td>
		  <div class="progress progress-xs">
		    <div class="progress-bar progress-bar-primary" style="width:{{ network.active_ip*100//network.total_ip }}%"></div>
		  </div>
		  <span class="label label-warning">{{ network.active_ip }}/{{ network.total_ip }}</span>
		</td>
		<td><span class="badge bg-red">{{ network.active_ip*100//network.total_ip }}%</span></td>
	      </tr>
              {% endfor %}
	    </tbody></table>
	  </div>
	  <!-- /.box-body -->
		<div class="box-footer clearfix">
		  <ul class="pagination pagination-sm no-margin pull-right">
		    {{ page_macros.pagination_widget(pagination,'ipmage.index') }}
		  </ul>
	       </div>
	</div>
    </div>
    <!-- endtable-->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block script %}
<script>
$(function(){
    $('#AddNetModal').modal("hide")
})
</script>
{% endblock %}

